<h2>
  Name: <span id="name"></span>
</h2>
<table class="table-auto" id="dossier-data">
  <tr>
    <th>Height</th>
    <td id="height"></th>
  </tr>
  <tr>
    <th>Mass</th>
    <td id="mass"></td>
  </tr>
  <tr>
    <th>Hair Color</th>
    <td id="hair-color"></td>
  </tr>
  <tr>
    <th>Birth Year</th>
    <td id="birth-year"></td>
  </tr>

  <tr class="border-top">
    <th>Involvement in Known Historical Events:</th>
  </tr>
  <tr>
    <td id="events"></td>
  </tr>

  <tr class="border-top">
    <th class="border-top">Piloted Vehicles:</th>
  </tr>
  <tr>
    <td id="vehicles"></td>
  </tr>
</table>
